small{
    font-size: 70%;
    font-weight: 500;
  }
  .suggestions{
    position: absolute;
    background-color: white;
    margin-left: 3%;
    z-index: 1;
    font-size: x-small;
  }
  mat-icon{
    color: rgb(3, 102, 3)!important;
  }
  .badge {
  padding: 4px 10px;
  border-radius: 12px;
  color: white;
  font-weight: bold;
  font-size: 12px;
}

.badge.green {
  background-color: #28a745;
}

.badge.red {
  background-color: #dc3545;
}