.emi-calculator-container {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.calculator {
  width: 30%;
  background-color: #f0f0f0; /* example color */
  padding: 10px;
  box-sizing: border-box;
  max-height: 550px;
  overflow: scroll;
}
.view {
  width: 70%;
  background-color: #ffffff; /* example color */
  padding: 10px;
  box-sizing: border-box;
  max-height: 550px;
  overflow: scroll;
}


.full-width {
  width: 100%;
}

mat-card {
  padding: 10px;
}

.mat-header-cell {
  font-weight: bold;
  background-color: #1976d2;
  color: white;
}

.mat-row:nth-child(even) {
  background-color: #f5f5f5;
}
.mat-mdc-form-field {
    width: 100%!important;
}


  footer{
    position: fixed !important; bottom: 0  !important;text-align: center !important; 
 }

@page footer{
 margin-top:100cm !important; 
 flex: 0 0 50px !important;
} 
.header-box {
  width: 50%;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 18px;
}
.header-box-right {
  width: 50%;

  text-align: right;
  float: right;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 18px;
}
.styled-table {
  border-collapse: collapse;
  width: 100%;
  font-size: 18px;
  font-family: Verdana;
}

.styled-table th, .styled-table td {
  border: 1px solid #646464;
  padding: 6px 10px;
}

.styled-table th.center, .styled-table td.center {
  text-align: center;
}

.styled-table th.left, .styled-table td.left {
  text-align: left;
}

.styled-table th.amount, .styled-table td.amount {
  text-align: right;
}
.amount {
  text-align: right;
}

.center {
  text-align: center;
}
.left {
  text-align: left;
}

  @media print {
  .styled-table,
  .styled-table th,
  .styled-table td {
    border: 1px solid #000 !important; /* force black borders */
    border-collapse: collapse !important;
  }

  .styled-table {
    width: 100% !important;
    font-size: 14px !important;
  }

  .styled-table th,
  .styled-table td {
    padding: 6px 10px !important;
  }

  /* Keep table rows from splitting across pages */
  .styled-table tr { 
    page-break-inside: avoid; 
  }
}