<loading *ngIf="isLoading"></loading>
<ng-template #content let-modal data-keyboard="false" data-backdrop="false">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Report Criteria</h4>
      <button  type="button" class="close text-danger" aria-label="Close" data-dismiss="modal" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div *ngIf="showAlert" class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Error! </strong> {{alertMsg}}
        <button  type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closeAlert()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="reportcriteria">
         <div class="form-row">
          <div class="col-12">
            <small for="acct_num">Search by Loan ID / Customer Name / Phone number
            </small>
  
            <div class="input-group">
              <input type="text" class="form-control form-control-sm " formControlName="acct_num" id="acct_num"
                placeholder="Enter Loan ID / Customer Name / Phone number" (input)="cancelOnNull()" name="x-field-1"
                autocomplete="new-field-1">
  
              <div class="input-group-append">
                <button class="btn btn-primary btn-sm" [disabled]="disabledOnNull" (click)="suggestCustomer()">
                  <i class="fa fa-search"></i>
                </button>
              </div>
            </div>
  
            <div class="suggestions" *ngIf="suggestedCustomer && suggestedCustomer.length > 0">
              <table class="table table-hover table-bordered table-sm w-auto small" id="customers1">
                <thead>
                  <tr>
                    <th scope="col">Acc#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Guardian Name</th>
                    <th scope="col">Address</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let cust of suggestedCustomer" (click)="SelectCustomer(cust)">
                    <td scope="row">{{cust.loan_id}}</td>
                    <td>{{cust.cust_name}}</td>
                    <td>{{((null === cust.phone) ? '' : cust.phone)}}</td>
                    <td>{{cust.guardian_name}}</td>
                    <td>{{cust.present_address}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="suggestions border p-2" style="width: 98%; font-size: small;"
              *ngIf="suggestedCustomer && !(suggestedCustomer.length > 0)">
              <strong class="text-danger">" {{this.reportcriteria.controls.acct_num.value}} " does not match with any
                customer</strong>
            </div>
          </div>
          <div class="col-12" *ngIf="showWait">
            Please wait...
          </div>
          <div class="col-6">
            <small for="fromDate">From Date</small>
            <div class="input-group">
              <input type="text" placeholder="dd/mm/yyyy" class="form-control" [ngModel]="fromdate" disabled bsDatepicker
                formControlName="fromDate"
                [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', containerClass:'theme-dark-blue' }" [isOpen]="isOpenFromDp">
              <div class="input-group-append">
                <button mat-raised-button class="btn btn-outline-secondary" type="button"  (click)="isOpenFromDp = !isOpenFromDp">
                  <i class="fa fa-calendar" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="col-6">
            <small for="toDate">To Date</small>
            <div class="input-group">
              <input type="text" placeholder="dd/mm/yyyy" class="form-control" [ngModel]="toDate"  bsDatepicker
                formControlName="toDate" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', containerClass:'theme-dark-blue' }"
                [isOpen]="isOpenToDp">
              <div class="input-group-append">
                <button mat-raised-button class="btn btn-outline-secondary" type="button" (click)="isOpenToDp = !isOpenToDp">
                  <i class="fa fa-calendar" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button mat-raised-button class="btn btn-primary" (click)="SubmitReport()">Submit</button> &nbsp;
      <button mat-raised-button class="btn btn-light" (click)="modalRef.hide()">Close</button>
    </div>
  </ng-template>
<div class="row d-flex justify-content-center align-items-center">
  <div class="col-xs-12 col-sm-12 col-md-11 col-lg-11 shadow mb-2 bg-white p-3 d-flex justify-content-center align-items-center">
  <div>
        <button mat-raised-button type="button" class="btn btn-rounded btn-primary m-1" (click)="closeScreen()">Close</button>
        <button mat-raised-button type="button" class="btn btn-rounded btn-primary m-1" [useExistingCss]="true"
          printSectionId="hiddenTab" ngxPrint>Print</button>
         <button mat-raised-button type="button" class="btn btn-rounded btn-primary m-1" (click)="onLoadScreen(content)">Retrieve</button>

  </div>
</div>


  <div class="col-xs-12 col-sm-12 col-md-11 col-lg-11 shadow mb-2 bg-white p-3" id="hiddenTab">
    <div style="text-align:center; font-weight:bold;">
        <h3>{{ardbName}}</h3>
        <h3>{{branchName}}</h3>
        <h4>RUN DATE: {{ today | date: 'dd/MM/yyyy' }}</h4>

        <h4 style="text-align:center;">
          EMI Schedule for Loan ID: {{ loanData[0]?.loan_id }}
        </h4>
    </div>

    

    <div style="border: 1px solid #ccc; padding: 5px; margin-bottom: 10px;">
      <p><b>Customer Name:</b> {{ loanData[0]?.cust_name }}</p>
      <p><b>Guardian Name:</b> {{ loanData[0]?.guardian_name }}</p>
      <p><b>Address:</b> {{ loanData[0]?.present_address }}</p>
      <p>
        <b>Loan Type:</b> {{ loanData[0]?.acc_type }} &nbsp;&nbsp;
        <b>Disbursement Date:</b> {{ loanData[0]?.disb_dt.substr(0,10) }} &nbsp;&nbsp;
        <b>Disbursement Amount:</b> {{ loanData[0]?.disb_amt | number:'1.2-2' }} &nbsp;&nbsp;
        <b>Intt Rate:</b> {{ loanData[0]?.intt_rate }} %
      </p>
    </div>

    <table border="1" cellspacing="0" cellpadding="5" width="100%">
      <thead>
        <tr>
          <th style="text-align: center;">Rep No</th>
          <th style="text-align: center;">Days Diff</th>
          <th style="text-align: center;">Due Date</th>
          <th style="text-align: right;">Installment Principal</th>
          <th style="text-align: right;">Installment Interest</th>
          <th style="text-align: right;">EMI</th>
          <th style="text-align: right;">Principal Outstanding</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of loanData">
          <td style="text-align: center;">{{ row.rep_id }}</td>
          <td style="text-align: center;">{{ row.days_diff }}</td>
          <td style="text-align: center;">{{ row.due_dt.substr(0,10) }}</td>
          <td style="text-align: right;">{{ row.instl_prn | number:'1.2-2' }}</td>
          <td style="text-align: right;">{{ row.instl_intt | number:'1.2-2' }}</td>
          <td style="text-align: right;">{{ (row.instl_prn + row.instl_intt) | number:'1.2-2' }}</td>
          <td style="text-align: right;">{{ row.outstanding_prn | number:'1.2-2' }}</td>
        </tr>
      </tbody>
      <tfoot>
        <tr style="font-weight: bold; background: #f0f0f0;">
          <td colspan="3" style="text-align: center;">Total</td>
          <td style="text-align: right;">{{ totalPrincipal | number:'1.2-2' }}</td>
          <td style="text-align: right;">{{ totalInterest | number:'1.2-2' }}</td>
          <td style="text-align: right;">{{ totalEmi | number:'1.2-2' }}</td>
          <td></td>
        </tr>
      </tfoot>
    </table>
  </div>
  
  <div class="col-xs-12 col-sm-12 col-md-11 col-lg-11 shadow mb-2 bg-white p-3 d-flex justify-content-center align-items-center">
  <div>
        <button mat-raised-button type="button" class="btn btn-rounded btn-primary m-1" (click)="closeScreen()">Close</button>
        <button mat-raised-button type="button" class="btn btn-rounded btn-primary m-1" [useExistingCss]="true"
          printSectionId="hiddenTab" ngxPrint>Print</button>
         <button mat-raised-button type="button" class="btn btn-rounded btn-primary m-1" (click)="onLoadScreen(content)">Retrieve</button>

  </div>
</div>

</div>


