
.mkScroll{
    height: auto;
    max-width: 95%;
    max-height: 500px;
    overflow: auto;
}

  footer{
    position: fixed !important; bottom: 0  !important;text-align: center !important; 
 }

@page footer{
 margin-top:100cm !important; 
 flex: 0 0 50px !important;
} 
.header-box {
  width: 50%;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 18px;
}
.header-box-right {
  width: 50%;

  text-align: right;
  float: right;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 18px;
}
.styled-table {
  border-collapse: collapse;
  width: 100%;
  font-size: 18px;
  font-family: Verdana;
}

.styled-table th, .styled-table td {
  border: 1px solid #ddd;
  padding: 6px 10px;
}

.styled-table th.center, .styled-table td.center {
  text-align: center;
}

.styled-table th.left, .styled-table td.left {
  text-align: left;
}

.styled-table th.amount, .styled-table td.amount {
  text-align: right;
}
.amount {
  text-align: right;
}

.center {
  text-align: center;
}
.left {
  text-align: left;
}
 #customers1 {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 60%;
    font-size: small;
  }
  
  #customers1 td, #customers1 th {
    border: 1px solid #ddd;
    padding: 8px;
    
  }
  
  #customers1 tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers1 tr:hover {background-color: #a7d1d1; cursor: pointer;}
  
  #customers1 th {
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: left;
    background-color: #286e6e;
    color: white;
    font-size:small
  }
.suggestions{
    position: absolute;
    background-color: rgb(255, 255, 255);
    z-index: 1000;
    width: 600px;
    height: auto;
    max-height: 300px;
    overflow: auto;
  }