.mkScroll {
    height: auto;
    max-height: 550px;
    overflow: auto
  }
  

.filter-block {
  margin-bottom: 10px;
}

.table-report {
  border-collapse: collapse;
  width: 100%;
}

.table-report th, .table-report td {
  border: 1px solid #ccc;
  padding: 6px 10px;
}

.table-report thead {
  background: #f4f4f4;
  font-weight: bold;
}

.table-report tfoot {
  background: #e9e9e9;
  font-weight: bold;
}
.branch-title{
  font-size: 16px;
  font-weight: 800;
}
  @media print{footer{
    margin-top: 25px !important; 
    margin-left: 25px !important; 
    position:fixed!important; 
    bottom: 0px !important;
  } }