.report {
  font-family: Arial, sans-serif;
  font-size: 12px;
  margin: 0 auto;
  width: 100%;
  padding: 10px;
}

.center {
  text-align: center;
}

.sub-header {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.section {
  margin-top: 20px;
}

.green {
  color: darkgreen;
  font-weight: bold;
}
.red {
  color: darkred;
  font-weight: bold;
}
.denom-cell {
  width: 50px;
  text-align: center;
}
.denom-header {
  width: 50px;
  font-weight: bold;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}
th, td {
  border: 1px solid #000;
  padding: 4px;
}
thead,tr{
      background-color: rgb(243, 227, 207);
}
.summary {
  border: 2px solid #000;
  padding: 10px;
  background-color: #f9f9f9;
}

.summary p {
  font-weight: bold;
    margin: 10px 2px;
    width: 20%;
    font-size: medium;
    color: blue;
    border: 1px solid grey;
    background-color: #eeeeee;
}
.filter-box {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 20px;
  border: 2px solid #333;
  padding: 15px;
  background: #eee;
}
.filter-group {
  flex: 1 1 200px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  background: #ccc;
  padding: 10px;
  border: 1px solid #aaa;
}
.filter-group h4 {
  margin: 0 0 5px 0;
}
.filter-group input {
  padding: 4px;
}


.mkScroll{
   height: auto;
    max-width: 95%;
    max-height: 500px;
    overflow: auto;
}
h1{
      border: 1px solid darkred;
    padding: 5px;
    background-color: #8dd3d6;
    font-size: x-large;
    color: darkred;
    border-radius: 10px;
}

  footer{
    position: fixed!important; bottom: 0!important;text-align: center!important; 
 }

 /* @page 
{
   size:21cm 29.7cmt;
   margin:2mm; 
   mso-title-page:yes;
   mso-page-orientation: portrait;
   mso-header: header;
   mso-footer: footer;
}*/
/* @page table{width:95%; margin: 10px;} */
@page footer{
 margin-top:100cm; 
 flex: 0 0 50px;
} 
  /*  */